<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="_4GSMSManger.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
    <userSettings>
        <_4GSMSManger.Properties.Settings>
            <setting name="GSM_F0" serializeAs="String">
                <value/>
            </setting>
            <setting name="GSM_MCC1" serializeAs="String">
                <value/>
            </setting>
            <setting name="GSM_MNC1" serializeAs="String">
                <value/>
            </setting>
            <setting name="GSM_MCC2" serializeAs="String">
                <value/>
            </setting>
            <setting name="GSM_MNC2" serializeAs="String">
                <value/>
            </setting>
            <setting name="GSM_F2" serializeAs="String">
                <value/>
            </setting>
            <setting name="GSM_MCC3" serializeAs="String">
                <value/>
            </setting>
            <setting name="GSM_MNC3" serializeAs="String">
                <value/>
            </setting>
            <setting name="GSM_MCC4" serializeAs="String">
                <value/>
            </setting>
            <setting name="GSM_MNC4" serializeAs="String">
                <value/>
            </setting>
            <setting name="LTE1_EARFCN" serializeAs="String">
                <value/>
            </setting>
            <setting name="LTE1_PLMN" serializeAs="String">
                <value/>
            </setting>
            <setting name="LTE2_EARFCN" serializeAs="String">
                <value/>
            </setting>
            <setting name="LTE2_PLMN" serializeAs="String">
                <value/>
            </setting>
            <setting name="LTE3_EARFCN" serializeAs="String">
                <value/>
            </setting>
            <setting name="LTE3_PLMN" serializeAs="String">
                <value/>
            </setting>
            <setting name="SENDER1" serializeAs="String">
                <value/>
            </setting>
            <setting name="SENDER2" serializeAs="String">
                <value/>
            </setting>
            <setting name="SMS1" serializeAs="String">
                <value/>
            </setting>
            <setting name="SMS2" serializeAs="String">
                <value/>
            </setting>
            <setting name="LTE4_EARFCN" serializeAs="String">
                <value/>
            </setting>
            <setting name="LTE4_PLMN" serializeAs="String">
                <value/>
            </setting>
            <setting name="SYNC_FREQ" serializeAs="String">
                <value/>
            </setting>
            <setting name="GSM_F3" serializeAs="String">
                <value/>
            </setting>
        </_4GSMSManger.Properties.Settings>
    </userSettings>
</configuration>
